{% extends 'base/base.twig' %}
{% block content %}
    <div class="block-404" style="display: inline-block;width: 100%;padding: 200px 0; text-align: center">
        <h1 style="font-size: 60px; color: #8c1052">404 NOT FOUND</h1>
    </div>
{% endblock %}
