{% extends 'base/base.twig' %}
{% block content %}
    <div class="services-page-container pd-l-140">
        <div class="page-name">
            <h1 style="color: #ffffff">{{ app.translations.about_us }}</h1>
        </div>
        <div class="aircraft-management-container">
            <div class="aircraft-manag-descr-container">
                <div class="aircraft-manag-descr-text" style="width: 100%">
                    {{ app.translations.about_company }}
                </div>
            </div>
        </div>
        <div class="back-services">
            <img src="/assets/images/aircraft-management.jpg" alt="">
        </div>
    </div>

{% endblock %}
